---
import EmailIcon from "./icons/EmailIcon.astro";
import FacebookIcon from "./icons/FacebookIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const currentYear = new Date().getFullYear();

const CONTACT_EMAILS = [
  {
    email: "contacto@kepler-metrology.com.mx",
    icon: EmailIcon,
  },
];

const SOCIAL_LINKS = [
  {
    name: "Facebook",
    icon: FacebookIcon,
    url: "https://www.facebook.com/share/16RJEhjhfh/?mibextid=wwXIfr",
  },
  {
    name: "LinkedIn",
    icon: LinkedInIcon,
    url: "https://www.linkedin.com/company/kepler-oil-gas/",
  },
];

const LEGAL_LINKS = [
  {
    text: i18n.FOOTER.LEGAL.TERMS,
    url: "/terminos-y-condiciones",
  },
  {
    text: i18n.FOOTER.LEGAL.PRIVACY,
    url: "/aviso-de-privacidad",
  },
  {
    text: i18n.FOOTER.LEGAL.COOKIES,
    url: "/politica-de-cookies",
  },
];
---

<footer class="bg-primary text-white py-8 md:py-20 z-20">
  <div class="container mx-auto px-4 max-w-6xl">
    <div
      class="flex flex-col md:flex-row md:items-start md:justify-between gap-6"
    >
      <a
        href="/"
        class="font-expansiva uppercase flex items-center gap-2 scale-75 md:scale-90"
      >
        <img
          src="/apple-touch-icon.png"
          alt={i18n.HEADER.LOGO_ALT}
          width={120}
          height={30}
          class="h-12 w-auto"
        />
        <div class="h-full flex w-[1px] bg-white/50"></div>
        <div class="flex flex-col text-white">
          <p class="text-3xl">Kepler</p>
          <p class="text-sm -mt-2">Metrology</p>
        </div>
      </a>

      <div>
        <p class="text-gray-300 font-semibold mb-2">{i18n.FOOTER.CONTACT_US}</p>
        <div class="flex flex-col space-y-2 -ml-2">
          {
            CONTACT_EMAILS.map(({ email, icon: Icon }) => (
              <a
                href={`mailto:${email}`}
                class="flex items-center text-gray-300 hover:text-white hover:bg-gray-700 p-2 rounded"
              >
                <Icon class="h-5 w-5 mr-2" />
                <span>{email}</span>
              </a>
            ))
          }
        </div>
      </div>

      <div>
        <p class="text-gray-300 font-semibold mb-2">{i18n.FOOTER.FOLLOW_US}</p>
        <div class="flex flex-col space-y-2 -ml-2">
          {
            SOCIAL_LINKS.map(({ name, icon: Icon, url }) => (
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer"
                class="flex items-center text-gray-300 hover:text-white hover:bg-gray-700 p-2 rounded"
              >
                <Icon class="h-6 w-6 mr-2" />
                <span>{name}</span>
              </a>
            ))
          }
        </div>
      </div>
    </div>

    <div class="mt-8 pt-6 border-t border-gray-700 text-center text-gray-400">
      <p>
        &copy; {currentYear} Kepler Metrology. {i18n.FOOTER.COPYRIGHT}
      </p>
      <div class="mt-3 flex flex-wrap justify-center gap-x-6 gap-y-2 text-sm">
        {
          LEGAL_LINKS.map(({ text, url }) => (
            <a
              href={url}
              class="hover:text-white hover:bg-gray-700 p-2 rounded"
            >
              {text}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>
