---
import EmailIcon from "./icons/EmailIcon.astro";
import FacebookIcon from "./icons/FacebookIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const currentYear = new Date().getFullYear();

const CONTACT_EMAILS = [
  {
    email: "info@keplermetrology.com",
    icon: EmailIcon,
  },
  {
    email: "soporte@keplermetrology.com",
    icon: EmailIcon,
  },
];

const SOCIAL_LINKS = [
  {
    name: "Facebook",
    icon: FacebookIcon,
    url: "#",
  },
  {
    name: "LinkedIn",
    icon: LinkedInIcon,
    url: "#",
  },
];

const LEGAL_LINKS = [
  {
    text: i18n.FOOTER.LEGAL.TERMS,
    url: "/terminos-condiciones",
  },
  {
    text: i18n.FOOTER.LEGAL.PRIVACY,
    url: "/aviso-privacidad",
  },
  {
    text: i18n.FOOTER.LEGAL.COOKIES,
    url: "/politica-cookies",
  },
];
---

<footer class="bg-primary text-white py-8 md:py-20 z-20">
  <div class="container mx-auto px-4 max-w-6xl">
    <div
      class="flex flex-col md:flex-row md:items-start md:justify-between gap-6"
    >
      <div class="bg-white p-3 rounded-lg w-fit">
        <img
          src="/logo-kepler-metrology.png"
          alt="Kepler Metrology Logo"
          class="h-10 md:h-12"
        />
      </div>

      <div>
        <p class="text-gray-300 font-semibold mb-2">{i18n.FOOTER.CONTACT_US}</p>
        <div class="flex flex-col space-y-2">
          {
            CONTACT_EMAILS.map(({ email, icon: Icon }) => (
              <a
                href={`mailto:${email}`}
                class="flex items-center text-gray-300 hover:text-white hover:bg-gray-700 p-2 rounded"
              >
                <Icon class="h-5 w-5 mr-2" />
                <span>{email}</span>
              </a>
            ))
          }
        </div>
      </div>

      <div>
        <p class="text-gray-300 font-semibold mb-2">{i18n.FOOTER.FOLLOW_US}</p>
        <div class="flex flex-col space-y-2">
          {
            SOCIAL_LINKS.map(({ name, icon: Icon, url }) => (
              <a
                href={url}
                class="flex items-center text-gray-300 hover:text-white hover:bg-gray-700 p-2 rounded"
              >
                <Icon class="h-6 w-6 mr-2" />
                <span>{name}</span>
              </a>
            ))
          }
        </div>
      </div>
    </div>

    <div class="mt-8 pt-6 border-t border-gray-700 text-center text-gray-400">
      <p>
        &copy; {currentYear} Kepler Metrology. {i18n.FOOTER.COPYRIGHT}
      </p>
      <div class="mt-3 flex flex-wrap justify-center gap-x-6 gap-y-2 text-sm">
        {
          LEGAL_LINKS.map(({ text, url }) => (
            <a
              href={url}
              class="hover:text-white hover:bg-gray-700 p-2 rounded"
            >
              {text}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>
