---
export interface Props {
  id?: string;
  title?: string;
  subtitle?: string;
  bgColor?: string;
  className?: string;
  titleClassName?: string;
  noPadding?: boolean;
}

const {
  id,
  title = "",
  subtitle,
  bgColor = "",
  className = "",
  titleClassName = "",
  noPadding = false,
} = Astro.props;

// Clases base para la sección
const sectionClasses = `py-12 sm:py-16 md:py-20 ${!noPadding ? "px-4" : ""} ${bgColor} ${className}`;
// Clases para el título
const titleClasses = `text-2xl sm:text-4xl font-bold text-primary mb-2 text-center font-expansiva ${titleClassName}`;
---

<section id={id} class={sectionClasses}>
  <div class="max-w-6xl mx-auto">
    {
      title && (
        <div>
          <h2 class={titleClasses}>{title}</h2>
          <div class="w-28 sm:w-32 h-1.5 bg-secondary mx-auto mb-8 sm:mb-12" />
        </div>
      )
    }

    {
      subtitle && (
        <p class="text-center text-sm sm:text-lg text-gray-700 mb-8 sm:mb-12 max-w-3xl mx-auto">
          {subtitle}
        </p>
      )
    }

    <slot />
  </div>
</section>
