---
import Section from "@/components/Section.astro";
import ContactForm from "@/components/ContactForm.astro";
import LocationIcon from "@/components/icons/LocationIcon.astro";
import PhoneIcon from "@/components/icons/PhoneIcon.astro";
import EmailIcon from "@/components/icons/EmailIcon.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Section
  id={currentLocale === "en" ? "contact" : "contacto"}
  title={i18n.CONTACT.TITLE}
  className="mx-0 px-0"
>
  <div class="grid md:grid-cols-2 gap-6 sm:gap-8 md:gap-10">
    <div>
      <h3 class="text-xl sm:text-2xl font-semibold text-primary mb-4 sm:mb-6">
        {i18n.CONTACT.INFO_TITLE}
      </h3>
      <div class="space-y-3 sm:space-y-4">
        <div class="flex items-start">
          <div
            class="bg-primary text-white mr-3 sm:mr-4 shrink-0 clip-path-hexagon"
          >
            <LocationIcon class="h-5 w-5 sm:h-6 sm:w-6" />
          </div>
          <div>
            <h4 class="text-base sm:text-lg font-semibold text-gray-700">
              {i18n.CONTACT.ADDRESS_TITLE}
            </h4>
            <p class="text-sm sm:text-base text-gray-600">
              {i18n.CONTACT.ADDRESS}
            </p>
          </div>
        </div>

        <div class="flex items-start">
          <div
            class="bg-primary text-white mr-3 sm:mr-4 shrink-0 clip-path-hexagon"
          >
            <EmailIcon class="h-5 w-5 sm:h-6 sm:w-6" />
          </div>
          <div>
            <h4 class="text-base sm:text-lg font-semibold text-gray-700">
              {i18n.CONTACT.EMAIL_TITLE}
            </h4>
            <p class="text-sm sm:text-base text-gray-600">
              {i18n.CONTACT.EMAIL}
            </p>
          </div>
        </div>

        <!-- <div class="flex items-start">
          <div
            class="bg-primary text-white mr-3 sm:mr-4 shrink-0 clip-path-hexagon"
          >
            <PhoneIcon class="h-5 w-5 sm:h-6 sm:w-6" />
          </div>
          <div>
            <h4 class="text-base sm:text-lg font-semibold text-gray-700">
              {i18n.CONTACT.PHONE_TITLE}
            </h4>
            <p class="text-sm sm:text-base text-gray-600">
              {i18n.CONTACT.PHONE}
            </p>
          </div>
        </div> -->
      </div>

      <!-- Mapa o imagen de ubicación -->
      <div class="ring-4 ring-white rounded-lg shadow-md mt-7">
        <img
          src="/images/mapa-ubicacion.png"
          alt="Ubicación de Kepler Metrology"
          class="w-full h-42 sm:h-72 object-cover rounded-lg"
        />
      </div>
    </div>

    <ContactForm />
  </div>
</Section>

<style>
  .clip-path-hexagon {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    padding: 0.5rem 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
