---
import Section from "@/components/Section.astro";
import { getI18N } from "@/i18n";
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";
import ClockIcon from "@/components/icons/ClockIcon.astro";
import SearchIcon from "@/components/icons/SearchIcon.astro";
import ShieldIcon from "@/components/icons/ShieldIcon.astro";
import GearIcon from "@/components/icons/GearIcon.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const marketplaceItems = [
  {
    title: i18n.MARKETPLACE.SAVE_TIME.TITLE,
    titleClassName: "text-white",
    description: i18n.MARKETPLACE.SAVE_TIME.DESCRIPTION,
    descriptionClassName: "text-white/90",
    icon: ClockIcon,
    iconClassName: "text-white size-5 md:size-7",
    color: "bg-primary/90",
  },
  {
    title: i18n.MARKETPLACE.TRANSPARENCY.TITLE,
    titleClassName: "text-black",
    description: i18n.MARKETPLACE.TRANSPARENCY.DESCRIPTION,
    descriptionClassName: "text-black/90",
    icon: SearchIcon,
    iconClassName: "text-primary size-5 md:size-7",
    color: "bg-white/80",
  },
  {
    title: i18n.MARKETPLACE.QUALITY.TITLE,
    titleClassName: "text-white",
    description: i18n.MARKETPLACE.QUALITY.DESCRIPTION,
    descriptionClassName: "text-white/90",
    icon: ShieldIcon,
    iconClassName: "text-white size-5 md:size-7",
    color: "bg-secondary/80",
  },
  {
    title: i18n.MARKETPLACE.PORTFOLIO.TITLE,
    titleClassName: "text-white",
    description: i18n.MARKETPLACE.PORTFOLIO.DESCRIPTION,
    descriptionClassName: "text-white/90",
    icon: GearIcon,
    iconClassName: "text-primary size-5 md:size-7",
    color: "bg-primary-light/80",
  },
];
---

<Section id="marketplace" title={i18n.MARKETPLACE.TITLE}>
  <div class="flex flex-col gap-8 justify-center items-center">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {
        marketplaceItems.map((item) => (
          <div class={`${item.color} rounded-2xl shadow-lg p-4 md:p-6`}>
            <div class="flex flex-col h-full">
              <div class="flex flex-row md:flex-col md:items-start items-center md:gap-0 gap-4">
                <div class="bg-white/20 size-10 md:size-14 rounded-full flex items-center justify-center mb-4">
                  <item.icon class={item.iconClassName} />
                </div>
                <h3
                  class={`text-lg md:text-xl font-bold font-expansiva mb-3 ${item.titleClassName}`}
                >
                  {item.title}
                </h3>
              </div>
              <p
                class={`${item.descriptionClassName} mb-6 flex-grow text-sm md:text-base`}
              >
                {item.description}
              </p>
            </div>
          </div>
        ))
      }
    </div>

    <a
      href={translatePath("/marketplace")}
      class="bg-black text-white font-bold py-3 px-6 rounded-lg text-lg transition-all duration-300 hover:scale-105 shadow-lg hover:shadow-xl text-cente w-full md:w-[50%] flex justify-center items-center"
    >
      {i18n.MARKETPLACE.SAVE_TIME.CTA}
    </a>
  </div>
</Section>

<style>
  .grid > div {
    height: 100%;
  }
</style>
