---
import Section from "@/components/Section.astro";
import valores from "@/assets/valores.png";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Section
  id={currentLocale === "en" ? "about" : "nosotros"}
  title={i18n.ABOUT.TITLE}
>
  <div class="grid md:grid-cols-2 gap-6 sm:gap-8 md:gap-10">
    <!-- Columna 1: Misión y Visión -->
    <div class="flex flex-col gap-6">
      <div
        class="bg-primary-light/70 p-4 sm:p-6 md:p-8 rounded-xl shadow-lg flex-1 flex flex-col"
      >
        <h2
          class="text-2xl sm:text-3xl font-bold text-primary mb-4 sm:mb-6 font-expansiva text-center"
        >
          {i18n.ABOUT.MISSION_TITLE}
        </h2>
        <div class="flex flex-col gap-4">
          <p
            class="text-sm sm:text-base text-gray-700 leading-relaxed flex-grow"
          >
            {i18n.ABOUT.MISSION_DESCRIPTION_1}
          </p>
          <p
            class="text-sm sm:text-base text-gray-700 leading-relaxed flex-grow"
          >
            {i18n.ABOUT.MISSION_DESCRIPTION_2}
          </p>
          <p
            class="text-sm sm:text-base text-gray-700 leading-relaxed flex-grow"
          >
            {i18n.ABOUT.MISSION_DESCRIPTION_3}
          </p>
        </div>
      </div>
      <div
        class="bg-primary/80 p-4 sm:p-6 md:p-8 rounded-xl shadow-lg text-white flex-1 flex flex-col"
      >
        <h2
          class="text-2xl sm:text-3xl font-bold mb-4 sm:mb-6 font-expansiva text-center"
        >
          {i18n.ABOUT.VISION_TITLE}
        </h2>
        <div class="flex flex-col gap-4">
          <p class="text-sm sm:text-base leading-relaxed flex-grow">
            {i18n.ABOUT.VISION_DESCRIPTION_1}
          </p>
          <p class="text-sm sm:text-base leading-relaxed flex-grow">
            {i18n.ABOUT.VISION_DESCRIPTION_2}
          </p>
        </div>
      </div>
    </div>

    <!-- Columna 2: Valores (Imagen) -->
    <div
      class="flex items-center justify-center bg-white/70 p-4 sm:p-6 md:p-8 rounded-xl shadow-lg h-full"
    >
      <div class="w-full">
        <h2
          class="text-2xl sm:text-3xl font-bold mb-4 sm:mb-6 text-center font-expansiva text-secondary"
        >
          {i18n.ABOUT.VALUES_TITLE}
        </h2>
        <img
          src={valores.src}
          alt="Valores de Kepler Metrology"
          class="w-full h-auto rounded-xl object-contain max-h-[500px]"
        />
      </div>
    </div>
  </div>
</Section>
