---
import Section from "@/components/Section.astro";
import { SERVICIOS } from "@/data/servicios.js";
import { getI18N } from "@/i18n";
import {
  getLangFromUrl,
  useTranslatedPath,
} from "@/i18n/utils";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<Section
  id={currentLocale === "en" ? "services" : "servicios"}
  title={i18n.SERVICES.TITLE}
  subtitle={i18n.SERVICES.DESCRIPTION}
>
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 sm:gap-8">
    {
      SERVICIOS.map((servicio) => (
        <div class="service-card bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-all duration-300 group">
          <div class="relative h-32 overflow-hidden">
            <img
              src={servicio.imagen}
              alt={servicio[lang].titulo}
              transition:name={servicio.imagen}
              class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
            />
          </div>

          <div class="p-4 sm:p-6">
            <h4 class="text-lg font-bold text-secondary mb-2">
              {servicio[lang].titulo}
            </h4>
            <p class="text-sm sm:text-base text-gray-700 mb-4">
              {servicio[lang].servicio}
            </p>
            <a
              href={translatePath(`/servicios/${servicio.id}`)}
              class="inline-block bg-primary text-white py-2 px-4 rounded-md text-sm font-medium hover:bg-primary/90 transition-colors duration-300"
            >
              {i18n.SERVICES.MORE_DETAILS}
            </a>
          </div>
        </div>
      ))
    }
  </div>
</Section>

<style>
  .service-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    transform: translateY(0);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .service-card:hover {
    transform: translateY(-5px);
    box-shadow:
      0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
</style>
