---
import SEOLayout from './SEOLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '@/components/BackToTop.astro';

import "@/styles/global.css"

interface Props {
  title?: string;
  description?: string;
  image?: string;
  canonicalURL?: string;
  keywords?: string[];
}

const { 
  title = "Kepler Metrology",
  description = "Soluciones avanzadas de metrología para la industria",
  image,
  canonicalURL,
  keywords
} = Astro.props;
---

<SEOLayout 
  title={title}
  description={description}
  image={image}
  canonicalURL={canonicalURL}
  keywords={keywords}
>
  <div class="flex flex-col min-h-screen">
    <Header/>
    
    <main class="flex-grow mt-24">
      <slot />
    </main>
    
    <Footer />
    <BackToTop />
  </div>
</SEOLayout>